<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mainpage</title>
</head>
<body>
  <a href="/signup"><button>Sign up</button></a>
  <a href="/signin"><button>Sign in</button></a>
</body>
</html>