<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Order</title>
</head>
<body>
  <form action="/orders" method="POST">
    <fieldset>
      <label for="ordname">order name</label>
      <input type="text" name="ordname" required>
      <label for="orddesc">order desc</label>
      <textarea name="orddesc" cols="50" rows="5" required></textarea>
      <label for="ordprice">order price</label>
      <input type="text" name="ordprice" required>
      <input type="hidden" name="form_id" value="new_order">
      <input type="hidden" name="user_id" value="{{ user_id }}">
      <input type="submit" value="add order">
    </fieldset>
  </form>
</body>
</html>
