<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <style>
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }
    td #is-taken {
      width: 100px;
      text-align: center;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function(e) {
      if ({{ account_type.isContractor|json_encode}}) {
        var ords = document.getElementsByClassName("ord");

        var xhr = new XMLHttpRequest();
        for (var i = 0; i < ords.length; i++) {
          (function () {

            var ordid = ords[i].cells[0].textContent;
            var takeButton = ords[i].cells[4].children[0];
            var closeButton = ords[i].cells[4].children[1];

            var res = null;

            takeButton.addEventListener("click", function() {
              console.log("take -> order id: " + ordid);
              xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                  if (xhr.status === 200) {
                    console.log("take -> req is completed, code: 200");
                    res = JSON.parse(xhr.response);
                    console.log(res.status);
                    if (res.status === "SUCCESS") {
                      takeButton.disabled = true;
                      closeButton.disabled = false;
                    } else {
                      alert(res.message);
                    }
                  }
                }
              }
              // xhr.open("GET", "/orders/take?ordid=" + ordid);
              // xhr.send();
              xhr.open("POST", "/orders/take");
              // xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.send("action=take&ordid=" + ordid + "&userid=" + {{ user_id|json_encode }});
            });

            closeButton.addEventListener("click", function() {
              console.log("close -> order id: " + ordid);
              xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                  if (xhr.status === 200) {
                    console.log("close -> req is completed, code: 200");
                    res = JSON.parse(xhr.response);
                    console.log(res.status);
                    if (res.status === "SUCCESS") {
                      takeButton.disabled = false;
                      closeButton.disabled = true;
                    } else {
                      alert(res.message);
                    }
                  }
                }
              }
              xhr.open("POST", "/orders/take");
              // xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.send("action=close&ordid=" + ordid + "&userid=" + {{ user_id|json_encode }});
            });

          }());
        }
      }

    });
  </script>
</head>
<body>
  {% if account_type.isCustomer %}
  <a href="/orders/new?user_id={{ user_id }}"><button>new order</button></a>
  {% endif %}
  <table>
    <tr>
      <th>ID</th>
      <th>Order</th>
      <th>Description</th>
      <th>Price</th>
      {% if account_type.isCustomer %}
      <th>Contractor</th>
      {% endif %}
      {% if account_type.isContractor %}
      <th>In process?</th>
      {% endif %}
    </tr>
    {% for order in orders %}
    <tr class="ord">
      <td id="ord-id">{{ order.id }}</td>
      <td>{{ order.ordname }}</td>
      <td>{{ order.orddesc }}</td>
      <td>{{ order.ordprice }}</td>
      {% if account_type.isCustomer %}
      <td> {{ order.contractor ? order.contractor.username }}</td>
      {% else %}
      <td>
        <button id="take"
          {% if order.isActive %}
            disabled
          {% endif %}
        >
          take
        </button>
        <button id="close"
          {% if not(order.contractor) or (order.contractor.id != user_id) %}
            disabled
          {% endif %}
        >
          close
        </button>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>