<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signin</title>
</head>
<body>
  <p>Signin page</p>
  <form action="/orders" method="POST">
    <fieldset>
      <label for="username">username</label>
      <input type="text" name="username" required>
      <label for="password">password</label>
      <input type="password" name="password">
      <input type="hidden" name="form_id" value="sin">
      <input type="submit" value="sign in">
    </fieldset>
  </form>
  </form>
</body>
</html>