<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
</head>
<body>
  <p>Signup page</p>
  <form action="/orders" method="POST">
    <fieldset>
      <label for="username">username</label>
      <input type="text" name="username" required>
      <label for="password">password</label>
      <input type="password" name="password" required>
      <br>
      <input type="radio" name="account_type" value="customer" checked>customer
      <br>
      <input type="radio" name="account_type" value="contractor">contractor
      <br>
      <input type="hidden" name="form_id" value="sup">
      <input type="submit" value="sign up">
    </fieldset>
  </form>
</body>
</html>